body {
    font-family: Comic Sans MS, Comic Sans MS, helvetica, sans, sans-serif;
    font-size: 14px;
    background: white url('/img.pl?userunid=159386') no-repeat bottom right;
    color: #333;
    text-align: left;
    vertical-align: middle;
    margin:0;
    padding:0;
    
}

#base{
	margin:0; padding:0;
}

strong, b {
	color:black;
}

blockquote{
	margin:0 20px; padding:0;
}

br.clear {
    clear: both;
}

h1{
	color: #000;
	font:bold 16px/30px Comic Sans MS, sans;
	font-variant:small-caps;
}

a img {
    border: 0px solid black;
    background:visible;
}

a {
    color: #600;
    text-decoration: none;
}

a:hover {
    color: red;
    border-bottom:1px dotted red;
    background:visible;
}

div.cleaner {
    clear: both;
    font-size: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1 {
    font-size: 150%;
    margin:0 0 5px 0;
}

tr.sudy {
    background-color: #dcdcdc;
}

tr.zahlavi, td.zahlavi {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #900;
}

pre {
    margin-top: 0px;
    margin-bottom: 0px;
}

table.small, small {
    font-size: 14px !important;
  /*  width: 8500px;*/
    text-align: justify;
    color: #333;
}

table {
    font-size: 14px;
}

span.small {
    color: black;
    font-style:italic;
    font-size:14px
}

.servis {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f6e071;
    color: black;
    font-weight: bold;
}

.focused {
    background-color: #C99;
} 

.focused a{
	color:brown;
}

.portlet, .sideportlet, #prihlasen {
    text-align: left;
    padding: 10px 5px 5px 5px;
    border: 1px solid #600;
    margin: 0 0px 2px 0;
    background: url('/img.pl?userunid=154047') repeat-x;
    border-top:0px solid white;
}

.portlet a, .sideportlet a{
	font-weight:normal;
	color:#600;
}

.top{
	background: url('/img.pl?userunid=159389') repeat-x;
	height:179px;
      width:100%;
	margin-bottom:10px;
      position:relative;
}

#head2{
	text-align:center;
	color:black;
      position:absolute;
      left:250px;
      top:10px;
}

#univerzita, #title{
	font-size:1.1em;
	font-weight:bold;
	color:white;
	z-index:2;
}

#univerzita{
	padding-top:5px;
}

.zahlavi small, .zahlavi b small, .zahlavi b small b{
	color:white;
}

#ikonky{
      position:absolute;
      top:80px;
      left:90%;
	height:32px;
	text-align:center;
	vertical-align:middle;
}

#ikonky img{
	vertical-align:middle;
}

#prihlasen{
	font-weight:bold;
	font-size:90%;
	color:white;
	padding-top:5px;
	margin-right:10px;
}

.topbar{
	line-height:100%;
	font-weight:bold;
	font-size:90%;
	padding:2px;
}

#posta{
	position:absolute;
	font-size:90%;
	font-weight:bold;
	text-align:right;
	width:90px;
      right:10px;
}

#posta a:hover{
	color:gray;
	background:visible;
}

#posta a{
	color:white;
}

#foot{
	font:90% Comic Sans MS;
	background:black;
	height:32px;
	line-height:32px;
	border-top:1px solid white;
	border-bottom:1px solid black;
	padding:0 10px;
	word-spacing:5px;
}

#foot a{
	color:white;
}

.hr{
	border-top:1px dotted #600;
	font-size:1px;
	margin-bottom:4px;
	margin-right:5px;
}

ul{
	list-style:url('/img.pl?userunid=154037');
      margin:7px 0 7px 0; padding-left:20px;
}

li{
	padding-left:10px;
	line-height:16px;
}

.vlajky{
	position:absolute;
      top:2px; left:2px;
}

.vlajky img{
	border:0;
}

#pravitko{
	width:210px;
	right:0;
	position:absolute;
	margin-top:-57px;
}   
 